/* -------------------------------------
2 Global Sections - 2.5 Find Neighbor
---------------------------------------- */
.find-neighbor {
  background-image: url("../images/find-neighbour-bgclr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px;
  .layer {
    padding: 95px 0px 84px;
    h2 {
      font-weight: 500;
      font-size: 28px;
      color: $primary_color;
      margin-bottom: 16px;
    }
    p {
      font-size: 16px;
      color: $primary_color;
      padding-bottom: 37px;
      line-height: 26px;
    }
    .input-group {
      max-width: 78%;
      text-align: center;
      display: inline-flex;
      z-index: 1;
      .form-control {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        height: 48px;
        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-weight: 300;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          font-weight: 300;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          font-weight: 300;
        }
        &l:-moz-placeholder {
          /* Firefox 18- */
          font-weight: 300;
        }
      }
      .input-group-append {
        .btn-default {
          font-size: 17px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
  &.ver-two {
    background-image: url("../images/find-neighbour-home2-bgclr.png");
    .layer {
      h2 {
        margin-top: 2px;
      }
    }
  }
}