/* -------------------------------------
2 Global Sections - Header | 2.1 Header
---------------------------------------- */
.header {
  .top-container {
    background: #fff;
    z-index: 2;
    .top-menu {
      background: #000;
      padding: 14px 0px 14px;
      h6 {
        font-weight: 500;
        font-size: 13px;
        color: #fff;
        margin: 0px;
        line-height: 24px;
      }
      p {
        font-weight: 500;
        color: #fff;
        font-size: 15px;
        text-align: right;
        margin: 0px;
        span {
          color: #fff;
          font-size: 15px;
          margin-right: 6px;
          vertical-align: middle;
          i {
            &.fa-phone {
              transform: rotate(100deg);
            }
          }
        }
        a {
          color: #fff;
          font-size: 15px;
          &:hover {
            color: #009cff;
          }
        }
      }
    }
    .middle-menu {
      padding: 21px 0px 26px;
      .middle-menu-contact-info {
        float: right;
        margin-top: 15px;
        span {
          float: left;
          margin-top: 4px;
          img {
            border: 2px solid #000;
            padding: 7px;

          }
        }
        .menu-contact {
          display: block;
          padding-left: 54px;
          h5 {
            margin-bottom: 4px;
          }
          a {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 15px;
            color: #888888;
            display: block;
            letter-spacing: 0.1px;
            &:hover {
              color: #009cff;
            }
          }
          p {
            font-weight: 500;
            font-size: 15px;
            color: #888888;
            display: block;
            letter-spacing: 0.1px;
          }
        }
      }
    }
    .navbar-primary {
      min-height: 70px;
      .sticky_navigation {
        width: 100%;
        z-index: 3;
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
        background-color: #22355b;
        .navbar {
          width: 100%;
          padding: 0px;
          .navbar-toggler {
            border: 1px solid $primary_color;
            background: transparent;
            margin-bottom: 0px;
            color: #ffffff;
            .navbar-toggler-icon {
              height: 1.11em;
              width: 1em;
            }
          }
          .navbar-collapse {
            .nav.navbar-nav {
              li {
                margin-right: 5px;
                a {
                  padding: 22px 20px;
                  background: transparent;
                  color: $primary_color;
                  font-family: 'Roboto', sans-serif;
                  font-weight: 500;
                  font-size: 18px;
                  display: block;
                }
                &:hover a,
                &.active a {
                  color: #009cff;
                }
                &:first-child {
                  a {
                    padding-left: 0px;
                  }
                }
                &.dropdown.show {
                  > a {
                    background-color: transparent;
                    border-bottom: 0px;
                  }
                  .dropdown-menu {
                    border: none;
                    background-color: #152d5f;
                    margin-top: 0px;
                    border-radius: 0px;
                    width: 200px;
                    text-align: center;
                    transition: all 0.5s;
                    li {
                      //text-align: center;
                      margin-right: 0px;
                      a {
                        padding: 10px 10px 10px 10px;
                        color: $primary_color;
                      }
                      &:hover,
                      &.active {
                        > a {
                          color: #009cff;
                        }
                      }
                      &.dropdown {
                        > a {
                          span {
                            display: none;
                          }
                          &::after {
                            border-color: transparent transparent transparent #333;
                            border-left-color: rgb(51, 51, 51);
                            border-left-color: #333333;
                            border-style: solid;
                            border-width: 5px 0 5px 5px;
                            content: " ";
                            display: block;
                            float: right;
                            height: 0;
                            margin-right: 8px;
                            margin-top: -16px;
                            width: 0;
                          }
                          &:hover {
                            &::after {
                              border-left-color: $primary_color;
                            }
                          }
                        }
                        &:hover {
                          .dropdown-menu {
                            display: block;
                            left: 163px;

                            top: 6px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .signin {
            text-align: right;
            p {
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              a {
                font-size: 15px;
                color: $primary_color;
                display: inline-block;
                letter-spacing: 0.1px;
                &.hvr-sweep-to-right {
                  &:hover {
                    color: #009cff;
                    &::before {
                      transform: scaleX(1);
                    }
                  }
                }
                &:hover {
                  color: #009cff;
                }
              }
            }
          }
          .create-list {
            .btn-default {
              padding: 9px 29px;
              letter-spacing: 0.4px;
              &.hvr-sweep-to-right {
                &:hover {
                  color: #009cff;
                  border: 1px solid $primary_color;
                  &::before {
                    transform: scaleX(1);
                  }
                }
              }
            }

          }
        }
      }
      &.secondary-menu {
        min-height: 110px;
        .sticky_navigation {
          background-color: $primary_color;
          .navbar {
            .logo-image {
              a {
                margin-top: 0px;
              }
            }
            .navbar-collapse {
              .nav.navbar-nav {
                margin-left: auto;
                li {
                  margin-right: 0px;
                  a {
                    color: #000;
                    padding: 43px 15px;
                    line-height: 24px;
                  }
                  &:hover, &.active {
                    a {
                      color: #009cff;
                    }
                  }
                  &.dropdown {
                    &.show {
                      .dropdown-menu {
                        background: #ffffff;
                        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
                        li {
                          a {
                            color: #000000;
                          }
                          &:hover,
                          &.active {
                            a {
                              color: #009cff;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .signin {
              p {
                a {
                  padding: 8px 26px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.dropdown-toggle::after {
  vertical-align: middle;
}

.loaded {
  &.modal-open {
    padding-right: 0px !important;
  }
}