/* -------------------------------------
2 Global Sections - 2.32 Get In Touch
---------------------------------------- */
.map {
  padding-top: 0px;
  padding-bottom: 90px;
  &.full-width {
    padding-bottom: 113px !important;
  }
}