/*-------------------------------------------------------------------------------
  1. Global | 1.2 Buttons
-------------------------------------------------------------------------------*/

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  display: inline-block;
  padding: 10px 26px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  border-radius: 0px;
  &hover, &:focus,
  &.active {
    box-shadow: none;
  }
  &.btn-default {
    background: $button_default_bg;
    border: 1px solid $button_default_border;
    color: #fff;
    &:hover,
    &:focus {
      background: darken($button_default_bg, 5%);
      border: 1px solid $button_default_border;
      color: #fff;
    }
  }
  &.btn-primary {
    background: $button_primary_bg;
    border: 1px solid $button_primary_border;
    color: $button_primary_color;
    span {
      position: absolute;
      z-index: -1;
      right: 100%;
      top: -1px;
      left: -1px;
      bottom: -1px;
      opacity: 0;
      border-radius: 25px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:hover,
    &:focus {
      background: $button_primary_hover_bg;
      color: $button_primary_hover_color;

    }
  }
  &.btn-secondary {
    background: $button_secondary_bg;
    border: 1px solid $button_secondary_border;
    color: $button_secondary_color;
    &:hover,
    &:focus {
      background: $button_secondary_hover_bg;
      color: $button_secondary_hover_color;
      border: 1px solid $button_secondary_hover_border;
    }
  }

}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primary_color;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover {
    color: #009cff;
    border: 1px solid $primary_color;
    &::before {
      transform: scaleX(1);
    }
  }
}