/*-------------------------------------------------------------------------------
  1. Global | 1.3 Typography
-------------------------------------------------------------------------------*/

.no-l-padding {
  padding-left: 0px;
}

.no-r-padding {
  padding-right: 0px;
}

.no-t-padding {
  padding-top: 0px;
}

.no-b-padding {
  padding-bottom: 0px;
}

.no-margin {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  margin-bottom: 0px;
  li {
    a {
      display: inline-block;
    }
  }
}
figure{
  margin-bottom: 0px;
}
a:hover,
a:focus {
  text-decoration: none;
}

.owl-carousel .owl-item img {
  width: 100%;
}

.form-control,
textarea {
  box-shadow: none;
}

.content-justify {
  -ms-flex-pack: center !important;
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  justify-content: center !important;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

section {
  padding: 120px 0 120px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0px;
}

h1 {
}

h2 {
}

h3 {
  font-weight: 500;
  font-size: 25px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

h5 {
  font-weight: 500;
  font-size: 16px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: $secondary_color;
  margin: 0px;
  &.secondary-font {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
  }

}

.top-head {
  h4 {
    text-align: center;
    color: #000;
    font-size: 32px;
    margin-bottom: 49px;
    line-height: 24px;
  }
}

